
	<h1>Wranglr</h1>
	<hr>
	<h3>Use this bookmarklet to round up all the words on a page (4 characters in length or greater). A link will be presented to you that displays an organized word cloud!</h3>
	<hr>
	<h4>Installation:</h4>

	<p>Simply open up your bookmarks manager and drag the link right in. Presto.</p>

	<a href="javascript:(function(){if(window.myBookmarklet!==undefined){myBookmarklet();}else{document.body.appendChild(document.createElement('script')).src='https://ancient-everglades-3090.herokuapp.com/js/app.min.js?x=' + (Math.random());}})();">bookmarklet</a>



	<p>For a sample of what a cloud looks like click <a href="https://ancient-everglades-3090.herokuapp.com/stats/11">here</a></p>

